parameters:
    level: max
    paths:
        - src/
        - tests/
    ignoreErrors:
        - '~^Access to an undefined property GraphQL\\Language\\AST\\Node::\$kind\.$~'
        - '~^Cannot access offset ''(variables|map)'' on array\|object\|null.$~'
