parameters:
    level: max
    paths:
        - src/
        - tests/
    ignoreErrors:
        - '~^Call to an undefined method PHPUnit\\Framework\\MockObject\\MockObject\:\:process\(\)\.$~'
        - '~^Access to an undefined property GraphQL\\Language\\AST\\Node::\$kind\.$~'
        - "~^Cannot access offset 'variables' on array|object|null.$~"
        - '~^Call to an undefined method Psr\\Http\\Message\\MessageInterface::withParsedBody\(\)\.$~'
        - '~^Call to an undefined method Psr\\Http\\Message\\RequestInterface::withParsedBody\(\)\.$~'
