parameters:
    level: max
    paths:
        - src/
        - tests/
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '~^Call to an undefined method Doctrine\\Persistence\\ObjectRepository\:\:createQueryBuilder\(\)\.$~'
        - '~^Method Ecodev\\Felix\\Api\\Server\:\:execute\(\) should return array\<GraphQL\\Executor\\ExecutionResult\>\|GraphQL\\Executor\\ExecutionResult but returns array\<GraphQL\\Executor\\ExecutionResult\>\|GraphQL\\Executor\\ExecutionResult\|GraphQL\\Executor\\Promise\\Promise\.$~'
        - '~^Cannot call method getInstance\(\) on Laminas\\Permissions\\Acl\\Resource\\ResourceInterface\|null\.$~'
        - '~^Parameter \#1 \$argument of class ReflectionClass constructor expects class\-string\<object\>\|object, object\|string given\.$~'
        - '~^Parameter #1 \$wrappedType of static method GraphQL\\Type\\Definition\\Type\:\:nonNull\(\) expects \(callable\(\)\: mixed\)\|GraphQL\\Type\\Definition\\NullableType, GraphQL\\Type\\Definition\\LeafType given\.$~'
        -
            message: '~^Cannot call method .*\(\) on Throwable\|null\.$~'
            path: src/Api/Server.php
